body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color2)
  
}

:root {
  --brand-color: #2196F3;
  --text-color: #212121;
  --text-color2: #757575;
  --text-color3: #fff;
  --background-color1: #fff;
  --background-color2: #F5F4FA;
  --background-color3: #2F303A;
  --background-color4: #E5E5E5;
}
.link {
  font-style: normal;
  text-decoration: none;
  color:var(--text-color2)
}
.list {
  list-style: none;
}
.header {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color:var(--brand-color)
}

.logo-black {
  color: #000
}
.logo-white {
  color: var(--text-color3);
}

.nav-list {

}

.nav-item {
  color: var(--text-color);
}

.nav-item:hover, 
.nav-item:focus,.contacts-item:hover,
.contacts-item:focus {
  color: var(--brand-color);
}

.contacts-list {

}

.contacts-item {
}


.hero {
  color: var(--text-color3);
  background-color: var(--background-color3);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--text-color3);
  background-color: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  color: var(--text-color3);
  background: #188CE8;
}
.btn-filters {
  background-color: var(--background-color2);
  color: var(--text-color);
}

.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-color);
}

.skills-text {
}

.work {
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color);
}
.team {
  background-color: var(--background-color2);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.team-work {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color2);
}
footer {
  background-color: var(--background-color3);
}

.address-list {
  font-size: 14px;
  line-height: 1.7;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-google {
  color: var(--text-color3);
}

/* projects */

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1.9;
}

